venv/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

dataset/raw/*
!dataset/raw/.gitkeep

dataset/classification/*
!dataset/classification/.gitkeep

models/*.keras
models/*.h5
models/*.weights.h5

results/*
!results/.gitkeep

screenshots/*
!screenshots/.gitkeep

*.zip
.DS_Store
